# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://dhzzmopsobyhasdjjfdg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRoenptb3Bzb2J5aGFzZGpqZmRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5ODE3ODMsImV4cCI6MjA5MDU1Nzc4M30.zDg6tgkHGKyxBknNTaqnnMkA-8DDkwcABkdLbTkrb-0

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
STRIPE_SECRET_KEY=your_stripe_secret_key

# App
NEXT_PUBLIC_APP_NAME=LSIeduHub
NEXT_PUBLIC_APP_URL=http://localhost:3000
